@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}

h2 {
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: 600;
}

.container {
  width: 800px;
}

.action-container {
  display: flex;
  width: 100%;
  align-items: end;
}

.flex-grow {
  flex-grow: 1;
}

button {
  border-radius: 3px;
  border: solid 1px black;
  background: #868686;
  padding: 4px;
}

.line-area {
  border: solid 1px rgba(79, 79, 79, 0.6);
  border-radius: 3px;
  width: 100%;
  padding: 8px 16px;
}

.icon-button {
  border: none;
  font-size: 16px;
  font-weight: 800;
}