@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 8px;
}

h2 {
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: 600;
}

.action-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

.add-cell-action {
  margin-top: 10px;
  border-radius: 3px;
  border: solid 1px;
  padding: 4px;
}

.add-cell-action:hover {
  border: solid 1px;
  background: #c6c6c6;
  transition: border 0.3s, background 0.3s;
}

@keyframes append-animate-right {
  from {
    transform: translate(60px, 0px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.line-area {
  width: 100%;
  padding: 8px 16px;
}

.sick-fade-in {
  animation: append-animate-right .3s cubic-bezier(.42,0,.58,1);
}


.line-container {
  border: none;
  width: 100%;
  margin: 0px;
}

.line-container input{
  transition: 25ms;
}

.line-container.focused {
  outline: solid 2px rgba(66, 99, 255, 0.6);
  border-color: transparent;
  transition: outline 0.1s;
}

.operator-actions {
  display: flex;
  border-bottom: 1px solid rgba(79, 79, 79, 0.6);
}

.operator-action {
  font-weight: 800;
  padding: 4px 16px;
}

.operator-action:hover {
  color: blue;
  background-color: #eaeaea;
  transition: color 0.5s, background-color 0.5s;
}

.icon-button {
  border: none;
  font-size: 16px;
  font-weight: 800;
}

.cell-actions {
  display: flex;
  justify-content: space-between;
}

.play-icon {
  color: rgb(81, 190, 81);
}

.cell-component {
  border: 1px solid #9c9c9c ;
  padding: 5px;
  margin-top: 10px;
}
